/* CSS declarations go here. */

/* Compensate for fixed navbar at top of page. */

body {
	padding-top: 70px;
	padding-bottom: 70px;
}

/* Logo in navbar header. Values found by trial and error. */

.navbar-image {
	max-height: 60px;
	padding: 10px;
	margin-right: 10px;
}

/* Avatar div must be fixed size for the Bootstrap thumbnail. */

.user_avatar {
	width: 150px;
	height: 150px;
	text-align: center;
}

.avatar_img {
	max-height: 100px;
	max-width: 100px;
}

/* Pop thumbnail on mouse hover */

.user_avatar:hover {
	transform: scale(1.1, 1.1);
}

.avatar-cell {
	height: 90px;
	width: 90px;
	text-align: center;
}

.avatar-small {
	max-height: 50px;
	max-width: 50px;
}

/* Avatars for messages are about twice normal text height. */

.avatar-tiny {
	border: 0;
	padding: 0;
	max-height: 2em;
	width: 2em;
	vertical-align: middle;
}

/* Emoticons a bit bigger than standard text with space either side */

.meteoremoticon {
	margin-left: 0.1em;
	margin-right: 0.1em;
	border: 0;
	padding: 0;
	height: 1.3em;
	vertical-align: middle;
}

/* Alternate message background colours. */

.message-list li:nth-of-type(even) {
	background: #D0FFD0;
}

.message-list li:nth-of-type(odd) {
	background: #FFFFD0;
}

/* Can't work out how to centre checkbox vertically in row. */

#username-checkbox-label {
	margin-bottom: 5px;
}

/* Invalid URL. */

.bad-url {
	color: red;	
	font-style: italic;
}

/* For testing only. */
/*
* {
	border: 1px dotted red;
}
*/
/*end*/
